@media screen and (min-width: 300px) {
   .cardDiv {
     margin-left: 2vw;
     margin-right: 2vw;
     display: block;
     width: 120vw;
     margin-bottom: 20px;
   }
 }

 /* @media screen and (max-width: 400px) {
   #deleteReview {
     margin-left: 2vw;
     margin-right: 2vw;
     display: block;
     margin-bottom: 20px;
   }
 } */